@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

html {
  overflow-y: scroll;
}

textarea {
  resize: vertical;
}



/* text */

h1 {
	
	line-height: 1;
	font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
  

}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;

}


p {
  font-size: 1.1em;
  line-height: 1.7em;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #000000;
  width: 100%;
  margin-bottom: 15px;
  
}

input {
  height: auto !important;
}

